<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>
</head>

<body>
  <header>
    <div class="holder"></div>
    <div class="header">
      <div class="logo"></div>
      <div class="right" id="top-right"></div>
    </div>
  </header>
  <section class="main-container">
    <ul class="menu" id="menu-container">
      <%= menu%>
    </ul>
    <div class="content-container" id="content-container">
      <%= content%>
    </div>
  </section>
</body>

</html>