<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>
</head>

<body>
  <header>
    <div class="holder"></div>
    <div class="header">
      <div class="logo"></div>
      <div class="right" id="top-right">
        <div class="user">15267045318</div>
        <ul class="dropdown">
          <li class="dropdown-item setting">账号设置</li>
          <li class="dropdown-item logout">退出登录</li>
        </ul>
      </div>
    </div>
  </header>
  <section class="main-container">
    <ul class="menu" id="menu-container">
      <li class="link" data-anchor="m1">概述 </li>
      <li class="sub-menu-container">
        <div class="label">
          开发指南1
        </div>
        <ul class="sub-menu">
          <li class="link" data-anchor="m2">类参考 </li>
          <li class="link" data-anchor="m3">更新日志</li>
        </ul>
      </li>
      <li class="link" data-anchor="m4">概述 </li>
      <li class="link" data-anchor="m5">概述 </li>
      <li class="sub-menu-container">
        <div class="label">
          开发指南2
        </div>
        <ul class="sub-menu">
          <li class="link" data-anchor="m6">类参考</li>
          <li class="link" data-anchor="m7">更新日志</li>
        </ul>
      </li>
      <li class="sub-menu-container">
        <div class="label">
          开发指南3
        </div>
        <ul class="sub-menu">
          <li class="link" data-anchor="m8">类参考</li>
          <li class="link" data-anchor="m9">更新日志</li>
        </ul>
      </li>
    </ul>
    <div class="content-container" id="content-container">
      <div id="m1" class="content">content 1</div>
      <div id="m2" class="content">content 2</div>
      <div id="m3" class="content">content 3</div>
      <div id="m4" class="content">content 4</div>
      <div id="m5" class="content">content 5</div>
      <div id="m6" class="content">content 11</div>
      <div id="m7" class="content">content 12 </div>
      <div id="m8" class="content">content 13</div>
      <div id="m9" class="content">content 14</div>
    </div>
  </section>
</body>

</html>